body {
  background-color: #b63f3f;
  color: #ffffff;
  font-family: "Courier", monospace;
}

h1 {
  color: #ffd700;
}

a {
  color: #87cefa;
  text-decoration: underline;
}

ol {
  background-color: #333333;
  padding: 10px;
  border: 2px dashed #ffd700;
}